* {
    box-sizing: border-box;
    text-align: center;
}
html, body {
    background-color: rgb(182, 69, 44);
    height: 100%;
    margin: 0px;
}

/*___________________________________HEADER____________________________________________________*/

header {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-bottom: solid 3px rgb(48, 27, 40);
    background-color: rgb(82, 54, 52);
}
header h1.logo {
    background-color: rgb(182, 69, 44);
    float: left;
    padding: 30px;
    color: rgb(221, 197, 162);
    margin: 0;
    text-shadow: 0px -2px 3px rgba(0, 0, 0, 0.5), -2px 3px rgba(0, 0, 0, 0.5);
    font-size: 35px;
}
header nav {
    float: right;
}
header nav a {
    line-height: 100px;
    margin: 20px;
    font-size: 20px;
    color: rgb(221, 197, 162);
    text-decoration: none;
}
header nav a:hover {
    color: rgb(221, 197, 162);
    text-shadow: 5px 5px 5px rgb(0, 0, 0), -3px 6px rgb(182, 69, 44);
}

/*_____________________________CONTAINER, WRAPPER, PUSH, FOOTER (STICKY FOOTER)____________________*/

.container {
    width: 70%;
    margin: auto;

}
.wrapper{
    clear: both;
    overflow: hidden;
    background-color: rgb(221, 197, 162);
}
.push {
    padding: 5px;
    clear: both;
    background: rgb(221, 197, 162);
    height: 0px;
}
.footer {
    padding: 25px;
    clear: both;
    background: rgb(82, 54, 52);
    height: 50px;
    color: rgb(221, 197, 162);
    -webkit-text-stroke: 1px rgb(182, 69, 44);
    font-size: 30px;
    line-height: 0;
}

/*____________________________________LEFT, RIGHT, MAIN_____________________________________*/

.left {
    float: left;
    width: 25%;
    height: 80vh;
    background: rgba(182, 69, 44, 0.3);
}
.info-left{
    overflow-y: auto;
    
    direction: ltr;
}
.right {
    float: left;
    width: 25%;
    height: 80vh;
    background: rgba(182, 69, 44, 0.3);
}
.info-right{
    overflow-y: auto;

    direction: rtl;
}
.main {
    float:left;
    text-align: center;
    width: 50%;
    overflow-y: hidden;
    height: 450px;
    padding: 0 56px;
}

/*____________________________FIRST LETTER AND MORE FONTS___________________________________________*/

p.info-right::first-letter, p.info-left::first-letter {
    font-size: 80px;
}
.info-right.none::first-letter {
    font-size: 55px;
}
.about-me {
    font-size: 27px;
    line-height: 60px;
    color: rgb(182, 69, 44);
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(48, 27, 40);
}
.facts {
    font-weight: bold;
    font-size: 25px;
}

/*__________________________________________IMAGES___________________________________________*/

.picture-of-me-one {
    width: 300px;
    transform: rotate(90deg);
    margin: 40px;
    
}
.picture-of-me-small {
    transform: rotate(90deg);
    width: 200px;
    float: left;
}
.feynman {
    width: 50%;
    float: right;
}
.gates {
    width: 50%;
    float: left;
}

/*_____________________________________________LISTS__________________________________________*/

ul  {
    text-align: left;
    list-style-type: square;
    font-size: 35px;
    font-family: 'Tangerine', cursive;
    text-shadow: 1px 1px;
}
ol {
    font-family: 'Sniglet', cursive;
}
.bacon ul {
    font-size: 15px;
    list-style-type: none;
    
    
}

/*_______________________________________ANIMATION_____________________________________*/

.wrapper-animation {
    animation: pulse 5s infinite;
}
.einstein, nav.fun, .spin {
    animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes pulse {
    0% {
        background-color: rgb(82, 54, 52);
    }
    100% {
        background-color: rgb(182, 69, 44);
    }
}